<section class="offer">
    <div class="offer-box">
        <div class="offer-container">
            <div class="offer-title-container">
                <h2 class="offer-title">Save <span class="offer-pecent">30% off</span> Digital Watch</h2>
            </div>
        </div>
        <div class="time-box">
            <div class="time-box-container">
                <div class="timer">
                    <p>
                        <span> 11<span class="padding-l">:</span><span class="timer-cal">Days</span></span>
                        <span> 11<span class="padding-l">:</span><span class="timer-cal">Hrs</span></span>
                        <span> 11<span class="padding-l">:</span><span class="timer-cal">Min</span></span>
                        <span> 11<span class="timer-cal">Sec</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
