<section class="collection-banner">
    <div class="collection-container">
        <div class="collection-item">
            <a href="#">
                <div class="collection-box">
                    <img class="banner-image" src="../../../assets/images/banner1.jpg" alt="banner1">
                    <div class="collection-flex">
                        <div>
                            <h4 class="collection-h4">minimum 10% off</h4>
                            <h2 class="collection-h2">new watch</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="collection-item">
            <a href="#">
                <div class="collection-box">
                    <img class="banner-image" src="../../../assets/images/banner2.jpg" alt="banner2">
                </div>
            </a>
        </div>
        <div class="collection-item">
            <a href="#">
                <div class="collection-box">
                    <img class="banner-image" src="../../../assets/images/banner3.jpg" alt="banner3">
                    <div class="collection-flex">
                        <div>
                            <h4 class="collection-h4">minimum 10% off</h4>
                            <h2 class="collection-h2">gold watch</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>