.collection-banner{
    padding-top: 70px;
}

.collection-container{
    max-width: 1400px;
    // width: 100%;
    margin-right: auto;
    margin-left: auto;
    // padding-left: 12px;
    padding-left: 60px;
    padding-right: 12px;
    display: flex;
    flex-wrap: nowrap;
}

.collection-item{
    // width: 33.33333333%;
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;
}

.collection-box{
    position: relative;
    overflow: hidden;
}

.banner-image{
    transition: all 0.5s ease;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.collection-box:hover .banner-image{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.collection-flex{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.collection-h4{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: -3px;
    line-height: 1;
    font-size: 18px;
}

.collection-h2{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: white;
    margin-top: 5px;
    margin-bottom: -7px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}