.footer-three{
    background-color: #ffffff;
    max-width: 1400px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}

.footer-three-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-three-left{
    p{
    color: #777777;
    padding: 20px 0;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.03em;
    }
}

.footer-three-right{
    mat-list{
        display: flex;
        mat-list-item{
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}