$background-footer : #f9f9f9;

.footer{
    position: relative;
}

.footer-container{
    background-color: $background-footer;
}

.footer-one{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 12px;
    // margin: 0 auto;
    margin-left: 59.6px;
    margin-right: 59.6px;
    border-bottom: 1px solid #dddddd;
}

.footer-one-left{
    height: 100%;
    width: 50%;
    border-right: 1px solid #dddddd;

    h4{
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
    }

    p{
        color: #777777;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.03em;
    }
}

// .input-form{
//     padding: 13px;
//     width: 345px;
//     height: 50px;
//     border: 1px solid #eeeeee;
//     font-size: 16px;
//     font-weight: 400px;
//     line-height: 24px;
//     outline: none;
//     margin: 0 16px;
// }


.inputFooter{
    padding: 13px;
    width: 345px;
    height: 50px;
    border: 1px solid #eeeeee;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    outline: none;
    margin: 0 16px;
}

.buttonFooter{
    color: #ffffff;
    font-size: 14px;
    border: 2px solid var(--theme-deafult);
    background-image: linear-gradient(30deg, var(--theme-deafult) 50%, transparent 50%) !important;
    padding: 13px 29px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-family: 'Lato';

    &:hover {
        color: #222222;
        background-color: #fff;
        background-position: 100%;
    }
}

