<footer class="footer">
    <div class="footer-container">
        <div class="footer-one">
            <div class="footer-one-left">
              <h4 class="footer_top_title">KNOW IT ALL FIRST!</h4>
              <p class="footer_top_text">Never Miss Anything From Multikart By Signing Up To Our Newsletter.</p>
            </div>
            <div class="footer-one-right">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput class="input-form" type="email" name="EMAIL">
                </mat-form-field>
                <button mat-raised-button class="button-form" type="submit">SUBSCRIBE</button> -->
                <form action="">
                    <input class="inputFooter" type="email" name="EMAIL" placeholder="Enter your email">
                    <button class="buttonFooter" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <!-- <app-footer-two></app-footer-two> -->
    </div>
</footer>
